<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smile_onestock"
                 translate="label"
                 type="text"
                 sortOrder="40"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <group id="dp"
                   translate="label"
                   type="text"
                   sortOrder="50"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Delivery Promise</label>
                <field id="dp_enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="52"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="guest_postcode"
                       translate="label comment"
                       type="text"
                       sortOrder="56"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0"
                       canRestore="1">
                    <label>Guest postcode</label>
                    <depends>
                        <field id="dp_enabled">1</field>
                    </depends>
                </field>
                <field id="guest_country"
                       translate="label comment"
                       type="text"
                       sortOrder="56"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0"
                       canRestore="1">
                    <label>Guest country</label>
                    <depends>
                        <field id="dp_enabled">1</field>
                    </depends>
                </field>
            </group>

        </section>
    </system>
</config>
