<?xml version="1.0"?>
<config 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smile_onestock>
            <dp>
                <guest_postcode>75001</guest_postcode>
                <guest_country>FR</guest_country>
            </dp>
        </smile_onestock>

    </default>
</config>
