<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\OnestockDeliveryPromise\Api\Data\PromiseInterface" type="Smile\OnestockDeliveryPromise\Model\Data\Promise"/>
    <preference for="Smile\OnestockDeliveryPromise\Api\ShipmentInterface" type="Smile\OnestockDeliveryPromise\Service\Promise"/>
    <type name="Smile\OnestockDeliveryPromise\Model\Request\Promise">
        <plugin name="log_all_requests" type="Smile\Onestock\Plugin\LogRequest"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="smile_onestockdeliverypromise_add_promise_to_rate" type="Smile\OnestockDeliveryPromise\Plugin\AddPromiseToRate"/>
    </type>
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="smile_onestockdeliverypromise_shippingmethodconverter_addpromise" type="Smile\OnestockDeliveryPromise\Plugin\AddPromiseToShipping"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="smile_onestockdeliverypromise_orderaddress_addpromise" type="Smile\OnestockDeliveryPromise\Plugin\AddPromiseToOrderAddress"/>
    </type>
</config>
